{% extends 'layout.html' %}

{% block title %}
Anotaciones
{% endblock title %}

{% block main %}
    <div class="h-auto div-titulo">
        <h2 class="titulo-principal">Anotaciones</h2>
        <button class="btn btn-info btn-Agregar">Agregar Nueva</button>
    </div>

    <div class="mt-1">
            <h2 class="alert alert-info d-block">No hay anotaciones</h2>
        </div>

    <div class="principal mt-3">
        <div class="card bg-white mb-2" id="primero">
            <div class="card-body">
                <input type="hidden" value="1" class="id-nota">
                <div class="card-head d-flex justify-content-between flex-wrap">
                    <h4 class="card-title">Title</h4>
                    <small><strong>F. Creacion:</strong> 12/05/2021</small>
                </div>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus reprehenderit
                        laborum pariatur incidunt atque saepe dignissimos illum optio! Aliquam, quaerat.</p>
            </div>
            <div class="card-footer">
                <button class="btn btn-secondary btn-Editar">Editar</button>
                <button class="btn btn-danger btn-Eliminar">Eliminar</button>
            </div>
        </div>
        <a href="#primero" id="enlace">Sub</a>
    </div>

    <div class="modal fade" id="modalAnotacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nota</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/" method="POST" id="form-anotaciones">
                    <div class="modal-body">
                        <input type="hidden" value="-1" id="id" name="id">
                        <div class="form-group">
                            <label for="titulo" class="col-form-label">Titulo</label>
                            <input type="text" name="titulo" id="titulo" class="form-control"
                                placeholder="Ingresa el Titulo..." aria-describedby="helpId" required>
                        </div>
                        <div class="form-group">
                            <label for="contenido" class="col-form-label">Contenido</label>
                            <textarea name="contenido" id="contenido" cols="30" rows="5"
                                class="form-control" required></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary btnSaveEdit">Guardar Cambios</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
{% endblock main %}